In [1]:
import pandas as pd

In [2]:
data = {'A': [1, 2, 2, 3, 4, 4],
        'B': ['apple', 'banana', 'banana', 'cherry', 
              'date', 'date']}
df = pd.DataFrame(data)
df

   A       B
0  1   apple
1  2  banana
2  2  banana
3  3  cherry
4  4    date
5  4    date

# Finding Duplicates

In [3]:
df.duplicated()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [4]:
duplicate_rows = df[df.duplicated()]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
   A       B
2  2  banana
5  4    date

# Managing Duplicates

**1. Counting Duplicate Rows**

In [6]:
# Count the occurrences of each unique row (including duplicates)
duplicate_counts = df.duplicated().sum()
print("Number of Duplicate Rows:", duplicate_counts)

Number of Duplicate Rows: 2

**2. Keeping the Last Occurrence of Duplicates**

In [7]:
# Keep the last occurrence of each duplicate row
df_last_occurrence = df.drop_duplicates(keep="last")
print("DataFrame with Last Occurrence of Duplicates:")
print(df_last_occurrence)

DataFrame with Last Occurrence of Duplicates:
   A       B
0  1   apple
2  2  banana
3  3  cherry
5  4    date

**3. Marking Duplicates**

In [8]:
# Create a new column 'is_duplicate' to mark duplicate rows
df['is_duplicate'] = df.duplicated()
print("DataFrame with Marked Duplicates:")
print(df)

DataFrame with Marked Duplicates:
   A       B  is_duplicate
0  1   apple         False
1  2  banana         False
2  2  banana          True
3  3  cherry         False
4  4    date         False
5  4    date          True

# Removing Duplicates

In [9]:
data = {'A': [1, 2, 2, 3, 4, 4],
        'B': ['apple', 'banana', 'banana', 'cherry', 
              'date', 'date']}
df = pd.DataFrame(data)
df

   A       B
0  1   apple
1  2  banana
2  2  banana
3  3  cherry
4  4    date
5  4    date

In [10]:
# Remove duplicate rows, keeping the first occurrence
df_no_duplicates = df.drop_duplicates()
print("DataFrame without Duplicates:")
print(df_no_duplicates)

DataFrame without Duplicates:
   A       B
0  1   apple
1  2  banana
3  3  cherry
4  4    date